
body {
    background-color: #B28C6C;
}


#titulo1 {
    font-family: 'Courier New', Courier, monospace;
}
#fotoartur {
    padding: 20px;
    border-radius: 50%;
    width: 30%;
    /* align: center; */
}
#descricao {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#realcando {
    color: #053225;
    font-weight: bold;
}
#habilidades {
    padding: 0px;
}
ul {
    /* border: 550px; */
}
.listaHabilidades {
    font-size: 18px;
}
.extra {
    font-size: 20px;
}
