
body {
    background-color: #B28C6C;
}


#titulo1 {
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    text-align: center;
}

#fotoartur {
    padding: 20px;
    border-radius: 100%;
    width: 40%;
    background-color: black;
    margin-right: 15px;
    margin-bottom: 10px;
    float: left;
}

article {
    margin: 20px;
    /* border: 2px solid yellow; */
}

section p {
    padding: 20px;
    /* margin: 200px; */
    border-left: 10px;
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: red; */
}

#descricao {
    font-size: 20px;
}

#realcando {
    color: #053225;
    font-weight: bold;
}

#habilidades {
    padding: 0px;
}

ul {
    /* border: 550px; */
}

.listaHabilidades {
    font-size: 18px;
}

.extra {
    font-size: 20px;
}

.icon {
    text-decoration: none;
    color: #053225;
}

.iconereferencia {
    color: rgb(188, 194, 189);
}


